<h1>Lista de Productos en Tiempo Real</h1>

<ul id="realtimeProductList">
</ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/index.js"></script>